body {
    font-family: 'Dosis', sans-serif;
}
header {
    background-image: url("images/background1.jpg");
    height: 50vh;
    display: block;
    color: white;
    justify-content: center;
    text-align: center;
    
}
.design-description,.development-description, .products-description {
    display: none;
}

.services {
    background-image: url("images/background2.jpg");
    height: 50vh;
}
h2 {
    text-align:center;
}
#contacts{
    background-image: url("images/background3.jpg");
    margin: 20px;
}
.services {
    text-align: center;
    color: white;
    padding: 100px;
}
.about {
    text align: center;
    padding:100px;
    
}
.committed h2 {
    text-align: center;
}

.committed {
    padding:100px;
}

.image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    position: absolute;
    color: #fff;
    background: rgba(0,0,0,0.5);
    display: none;
    padding: 2rem;

}
