header {
    background-image: url("images/background1.jpg");
    background-size: cover;
    display: block;
    text: white;
    justify-content: center;
    text-align: center;
    
}
.services {
    background-image: url("images/background2.jpg");
}
